# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# doc, obj and bin directories
doc/
obj/
bin/

# Vim swp files
*.swp

# Tags
tags
